<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <% if current_user %>
        <span><%= "Welcome, #{current_user.user_name}!" %></span>
        <%= button_to "Logout", session_url, method: :delete %>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
