<form action="<%= cats_url(@cat) %>" method="post">
  <p>
    <label for="cat[name]">Name</label>
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </p>
  <p>
    <label for="cat[sex]">Sex</label>
    M<input type="radio" name="cat[sex]" value="M">
    F<input type="radio" name="cat[sex]" value="F">
  </p>
  <p>
    <label for="cat[color]">Color</label>
    <select name="cat[color]">
      <option value="" disabled selected>--pick a color--</option>
      <% @cat.colors.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="cat[birth_date]">Birthdate</label>
    <input type="date" name="cat[birth_date]" value="<%= Date.today %>">
  </p>
  <p>
    <label for="cat[description]">Description</label>
  </p>
  <p>
    <textarea name="cat[description]" rows="8" cols="80"></textarea>
  </p>
  <p>
    <input type="submit" name="" value="Submit">
  </p>
</form>
