<table border="2" width="1000" height="300">
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Description</th>
    <th>Age</th>
  </tr>
  <tr align="center">
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.description %></td>
    <td><%= @cat.age %></td>
  </tr>
</table>
